@import '../../../../../containers/root/constants.scss';

.wrapCombine {
  width: 100%;
  height: 100%;

  .tableCombine {
    width: 45%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;

    .navCombine {
      display: block;
      width: 100%;
      padding: 0 20px;

      .navPikerCombine {
        display: inline-block;
        vertical-align: top;
        margin-left: -15px;
      }
    }

    .wrapCombinedTable {
      height: calc(100% - 60px);
      margin-top: -20px;
    }
  }

  .graphCombine {
    width: 55%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 10px 0;
  }
}
