@import '../../../../containers/root/constants.scss';

.header {
  width: 100%;
  background-color: $color-primary;
  box-sizing: border-box;
  height: $header-height;
  vertical-align: middle;
  font-size: 24px;
  line-height: 32px;
  position: relative;
  z-index: 1;
  margin-top: -$header-height;
  //border-bottom: 1px solid #ebebeb;

  .title {

  }

  .links {
    width: 98%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .left,
    .right {
      //display: inline-block;
    }
  }

  @media only screen and (min-width: 450px) {
    .links {
      width: 96%;
    }
  }

  @media only screen and (min-width: 1000px) {
    .links {
      width: 94%;
    }
  }

}

.auth,
.user,
.userMenu {
  display: inline-block;
}

.userMenu {
  margin-top: 12px;
}


.avatar {
  border-radius: 50%;
  border: 1px solid #bdbdbd;
  width: 48px;
  height: 48px;
  background-position: center;
  background-origin: content-box;
  background-size: cover;
  background-image: url('../../../../images/NoAvatar.png');
  display: inline-block;
}