@import '../../../../../../containers/root/constants.scss';

.usersTable {
  text-align: center;
}

.table {
  min-width: 800px;
  max-width: 960px;
  margin: 0 auto;
}

.tdUsername,
.tdRole,
.tdName,
.tdCreated,
.tdUpdated,
.tdAction {
  text-align: center !important;
  vertical-align: middle;
  white-space: pre-wrap;
  font-size: 14px;
  padding: 0 !important;
}

.th {
  text-shadow: rgba(0, 0, 0, 0.14902) 0 2px 2px;
  //background: rgba(0, 0, 0, 0) linear-gradient(#656565 0%, #535353 100%) repeat scroll 0% 0% / auto padding-box border-box;
}

.thUsername,
.thRole,
.thName,
.thCreated,
.thUpdated,
.thAction {
  color: $color-primary-darken !important;
  padding: 0 !important;
  text-align: center !important;
  font-size: 18px !important;
  font-weight: 700 !important;
}

.thUsername,
.tdUsername {
  width: 200px;
  font-weight: 600;

  .username {
    white-space: pre-wrap;
    font-weight: 600;
    color: $color-success;
  }
}

.thRole,
.tdRole {
  width: 100px;
  white-space: normal !important;
  font-weight: 600;

  .admin {
    color: $color-error;
  }
}

.thName,
.tdName {
  min-width: 130px;

  .name {
    white-space: pre-wrap;
  }
}

.thCreated,
.tdCreated {
  width: 90px;

  .created {
    white-space: pre-wrap;
  }
}

.thUpdated,
.tdUpdated {
  width: 90px;

  .updated {
    white-space: pre-wrap;
  }
}

.thAction,
.tdAction {
  width: 110px;

  //.action {
  //  white-space: pre-wrap;
  //}
}
