@import '../../../../containers/root/constants.scss';

.wrapListBranch {
  height: 100%;
  background-color: transparent;
  color: #000;
  width: 35%;
  display: inline-block;
  font-weight: 600;
  vertical-align: top;
  box-shadow: $boxShadowHomeWrap;
  margin-right: $padding-horizontal;
  padding: 0 0 55px $paddingDuble;
  overflow: hidden;
  //transition: all .3s ease-in-out;
  text-align: right;

  .buttonWrap {
    width: auto;
    height: auto;
    display: inline-block;
  }

  .listTitle {
    display: block;
    position: relative;
    width: calc(100% - 3 * $shift);
    padding: 0;
    margin-bottom: $space-bottom;
    background-color: transparent;
    text-align: center;
    cursor: pointer;

    .listTitle:before {
      content: ' ';
      position: absolute;
      z-index: 1;
      top: -$shift;
      left: -$shift;
      width: 50%;
      height: calc($listTitle-height/2 + $shift);
      border-bottom: 1px dashed rgba(50,50,50,0.5);
    }
    .listTitle:after {
      content: ' ';
      position: absolute;
      z-index: 1;
      top: -$shift;
      left: -$shift;
      width: 50%;
      height: 100%;
      border-left: 1px dashed rgba(50,50,50,0.5);
    }

    .title {
      display: block;
      z-index: 100;
      position: relative;
      width: 100%;
      height: $listTitle-height;
      padding: 0 5px;
      background-color: #fdfcfa;
      cursor: pointer;
      line-height: $listTitle-height;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: left;
      border: 1px solid rgba(50,50,50,0.5);

      .openLabel {
        background-color: $bg-first;
      }
    }

    .title:first-child {
      margin-bottom: 5px;
    }

    .listTitle .title {
      //background-color: #fff;
      .openLabel {
        background-color: $bg-second;
      }
    }

    .listTitle {
      width: 100%;
      margin-left: $shift;
      .listTitle .title {
        //background-color: #fff;
        .openLabel {
          background-color: $bg-third;
        }
      }
    }

    .listTitle {
      .listTitle {
        .listTitle .title {
          //background-color: #fff;
          .openLabel {
            background-color: $bg-four;
          }
        }
      }
    }
  }
  .listTitle:last-child:after {
    height: $listTitle-height;
  }
}

.listWrap {
  height: 100%;
  overflow-y: auto;
  margin-top: $padding;
  padding-right: calc($padding*2);
}
.listWrap::-webkit-scrollbar {
  width: 5px;
}
.listWrap::-webkit-scrollbar-track {
  background: #ebebeb;
  border-radius: 10px;
}
.listWrap::-webkit-scrollbar-thumb {
  background: $color-primary-lighten;
  border-radius: 10px;
}
.listWrap::-webkit-scrollbar-thumb:hover{
  border-width: 1px 1px 1px 2px;
  border-color: #555;
  background-color: #777;
}

.openLabel {
  display: inline-block;
  line-height: $listTitle-height;
}
.openLabel {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  border-radius: 50%;
  line-height: 20px;
  padding-left: 5px;
  color: #fff;
  font-weight: 600;
  font-family: monospace;
  font-size: 18px;
}