@import '../../../containers/root/constants.scss';

.input {

  .in {
    padding: 15px;
    width: 100%;
    border: 1px solid #ebebeb;

    &:focus {
      border-color: $color-secondary;
      outline: none;
    }
  }

  .error {
    position: relative;
    height: 0;

    .text {
      position: absolute;
      top: -25px;
      color: $color-error;
      font-size: 0.65rem;
      font-style: italic;
      padding: 5px;
    }
  }
}
