@import '../../../../containers/root/constants.scss';

.wrapListBranch {
  background-color: transparent;
  color: #fff;
  width: 35%;
  display: inline-block;
  font-weight: 600;
  vertical-align: top;
  box-shadow: $boxShadowHomeWrap;
  margin-right: $padding-horizontal;
  padding: 0;
  padding-left: calc($padding*2);
  overflow: hidden;
  transition: all .3s ease-in-out;

  .buttonWrap {
    text-align: right;
  }

  .listTitle {
    display: block;
    position: relative;
    width: calc(100% - 3 * $shift);
    padding: 0;
    margin-bottom: $space-bottom;
    background-color: transparent;
    text-align: center;
    cursor: pointer;

    .listTitle:before {
      content: ' ';
      position: absolute;
      z-index: 1;
      top: -$shift;
      left: -$shift;
      width: 50%;
      height: calc($listTitle-height/2 + $shift);
      border-bottom: 1px dashed rgba(50,50,50,0.5);
    }
    .listTitle:after {
      content: ' ';
      position: absolute;
      z-index: 1;
      top: -$shift;
      left: -$shift;
      width: 50%;
      height: 100%;
      border-left: 1px dashed rgba(50,50,50,0.5);
    }

    span {
      display: block;
      z-index: 100;
      position: relative;
      width: 100%;
      height: $listTitle-height;
      padding: 0 5px;
      background-color: $bg-first;
      cursor: pointer;
      line-height: $listTitle-height;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    span:first-child {
      margin-bottom: 5px;
    }

    .listTitle span {
      background-color: $bg-second;
    }

    .listTitle {
      width: 100%;
      margin-left: $shift;
      .listTitle span {
        background-color: $bg-third;
      }
    }

    .listTitle {
      .listTitle {
        .listTitle span {
          background-color: $bg-four;
        }
      }
    }
  }
  .listTitle:last-child:after {
    height: $listTitle-height;
  }
}

.listWrap {
  height: 100%;
  overflow-y: auto;
  margin-top: $padding;
  padding-right: calc($padding*2);
}
.listWrap::-webkit-scrollbar {
  width: 5px;
}
.listWrap::-webkit-scrollbar-track {
  background: #ebebeb;
  border-radius: 10px;
}
.listWrap::-webkit-scrollbar-thumb {
  background: $color-primary-lighten;
  border-radius: 10px;
}
.listWrap::-webkit-scrollbar-thumb:hover{
  border-width: 1px 1px 1px 2px;
  border-color: #555;
  background-color: #777;
}