@import '../../../../../containers/root/constants.scss';

.pikerWrap {
  max-width: 100px;
  overflow: hidden;
  display: inline-block;
  font-size: 14px;
  height: 75px;
  padding-top: 6px;
  margin: 0 5px;
}
.datePiker h3 {
  color: #fff;
}