@import '../../../../../containers/root/constants.scss';

.pikerWrap {
  max-width: 100px;
  overflow: hidden;
  display: block;
  font-size: 14px;
  height: 50%;
  padding-top: 0;
  margin: 0;
}
.datePiker h3 {
  color: #fff;
}