$color-primary: #1e88e5;
$color-primary-darken: #176ab0;
$color-primary-lighten: #53a7ff;
$color-secondary: #7CB342;
$color-secondary-darken: #689F38;
$color-secondary-lighten: #8BC34A;
$color-success: #43A047;
$color-error: #e53935;
//$color-accent: #ff59a7;
//$color-accent-lighten: #FF73B4;
//$color-red: #F44336; // red500
//$color-white: #ffffff;
//$color-grey: #2f3134;
//$color-grey-7: #777;
//$color-grey-9: #999;
//$color-light-gray: #b0b2b4;
//$color-background-grey: #31383d;
//$color-background-light-gray: #fafafa;
//$color-main-blue: #00bfff;
//$padding-left-sm: 10px;
//$padding-top-sm: 10px;
//$padding-left: 40px;
//$padding-top: 14px;

//$min-xs: 591px;
//$max-xs: 590px;
//$min-s: 769px;
//$max-s: 768px;
//$min-m: 1023px;
//$max-m: 1024px;
//$min-l: 1279px;
//$max-l: 1280px;
//$max-container-width: 1400px;

$footer-height: 50px;
$header-height: 70px;
$listTitle-height: 25px;

$border-home: 1px solid darkgrey;
$regions-list: rgba(245,190,15,1);
$boxShadowHomeWrap: 0 0 6px rgba(0,0,0,0.3);

$padding: 10px;
$paddingDuble: 20px;
$padingTopListMap: 35px;
$padding-vertical: 10px;
$padding-horizontal: 10px;

$shift: 15px;
$space-bottom: 2px;

$bg-first: #FFA000;
$bg-second: #AFB42B;
$bg-third: #388E3C;
$bg-four: #0097A7;

:export {
  footerHeight: $footer-height;
  headerHeight: $header-height;
  paddingInnerHomeWrap: $padding-vertical;
  paddingTopListMap: $padingTopListMap;
  padding: $padding;
  paddingDuble: $paddingDuble;
  heightWrapList: $padingTopListMap;
}