@import '../../../../containers/root/constants.scss';

.footer {
  border-radius: 0;
  background-color: $color-primary;
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  font-weight: 700;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;

  .info {
    display: inline-block;
    vertical-align: middle;
  }

  &:before {
    content: '';
    vertical-align: middle;
    display: inline-block;
    height: 100%;
  }
}
