@import '../../../../containers/root/constants.scss';

.pointsMap {
  height: 100%;
  background-color: transparent;
  width: calc(65% - $padding-horizontal);
  display: inline-block;
  overflow: hidden;
  font-weight: 600;
  vertical-align: top;
  box-shadow: $boxShadowHomeWrap;
  padding: 0 $paddingDuble $paddingDuble 0;
  transition: all .3s ease-in-out;
  text-align: left;

  .buttonWrap {
    width: auto;
    height: auto;
    display: inline-block;
  }
}
