<!doctype html>
<html lang="en">
<head>

  <title>GRS WEB</title>
  <meta name="description" content="GRS WEB">
  <!--<meta name="keywords" content="">-->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <!--<meta name="apple-mobile-web-app-title" content="GRS WEB">-->
  <!--<meta name="application-name" content="GRS WEB">-->
  <!--<meta name="msapplication-TileColor" content="#ffffff">-->
  <!--<meta name="msapplication-TileImage" content="/favicon/mstile-144x144.png?v=E6boNllaQd">-->
  <!--<meta name="msapplication-config" content="/favicon/browserconfig.xml?v=E6boNllaQd">-->
  <!--<meta name="theme-color" content="#ffffff">-->

  <!--<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png?v=E6boNllaQd">-->
  <!--<link rel="icon" type="image/png" href="/favicon/favicon-32x32.png?v=E6boNllaQd" sizes="32x32">-->
  <!--<link rel="icon" type="image/png" href="/favicon/favicon-194x194.png?v=E6boNllaQd" sizes="194x194">-->
  <!--<link rel="icon" type="image/png" href="/favicon/android-chrome-192x192.png?v=E6boNllaQd" sizes="192x192">-->
  <!--<link rel="icon" type="image/png" href="/favicon/favicon-16x16.png?v=E6boNllaQd" sizes="16x16">-->
  <!--<link rel="manifest" href="/favicon/manifest.json?v=E6boNllaQd">-->
  <!--<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg?v=E6boNllaQd" color="#5bbad5">-->
  <!--<link rel="shortcut icon" href="/favicon/favicon.ico?v=E6boNllaQd">-->

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{{#each styles}}
  <link href='{{this}}' rel='stylesheet' type='text/css'>
{{/each}}

</head>
<body>

  <div id="root" style="height: 100%"></div>

{{#each scripts}}
  <script src="{{this}}"></script>
{{/each}}

</body>
</html>
