.landing {
  padding-bottom: 100px;
  background-color: #fff;
  text-align: center;

  .bg {
    width: 100%;
    height: 552px;
    background-image: url('/logo/LandingPlaceholderDark1600.png');
    background-position: center;
    background-size: cover;
  }

  .cont {
    margin: 0 auto;
    max-width: 520px;
    padding: 0 8px;

    .rel {
      height: 0;
      width: 100%;
      position: relative;
      z-index: 2;
      text-align: center;

      .abs {
        width: 100%;
        position: absolute;
        top: -550px;
        left: 0;

        .intro {
          color: rgba(255,255,255,1);
          text-shadow: 0 0 10px rgba(0,0,0,0.6), 0 0 10px rgba(0,0,0,0.6);
          font-size: 0.75rem;
          line-height: 0.75rem;
          font-weight: 600;

          .label1,
          .label2,
          .org {
            margin: 30px auto;
          }

          .label1 {
            font-size: 1.3em;
            line-height: 1.3em;
          }
          .label2 {
            font-size: 2em;
            line-height: 1.2em;
          }

          .get {
            background-color: #13a7e7;
            border-radius: 30px;
            transition: all 0.3s ease 0s;
            padding: 15px 25px;
            cursor: pointer;
            text-shadow: 0 0 5px rgba(0,0,0,0.25), 0 0 5px rgba(0,0,0,0.25);
            display: inline-block;
            font-weight: 700;
            font-size: 1.1em;
            line-height: 1.1em;
            //font-size: 16px;
            //line-height: 16px;
          }
          .get:hover {
            background-color: #14b8ff;
          }

          .org {
            //font-size: 1.05em;
            font-weight: 700;

            .link {
              text-decoration: none;
              color: #13a7e7;
              cursor: pointer;
            }
            .link:hover {
              text-decoration: underline;
            }
          }
        }

        .player {
          width: 100%;
          display: inline-block;
          background-color: #fff;

          .video {
            padding: 5px;

            .vid {
              width: 100%;
              height: 100%;
            }
          }

          .list {
            text-align: left;
            padding: 0 5px 5px;

            .label {
              color: #13a7e7;
              padding: 0 15px;
              font-size: 0.8em;
            }

            .item {
              padding: 5px 10px;

              .svg {
                cursor: pointer;
                display: inline-block;
                vertical-align: middle;
                height: 30px;
                width: 30px;
              }
              .label {
                cursor: pointer;
                display: inline-block;
                vertical-align: middle;
                font-size: 1.1em;
              }
            }

            .item:before {
              display: inline-block;
              vertical-align: middle;
              height: 100%;
              content: '';
            }

          }
        }

        @media only screen and (min-width: 516px) {
          .intro {
            font-size: 1.2rem;
            line-height: 1.2;
            .label1 {
              padding: 0 28px;
            }
          }
          .player {
            .video {
              .vid {
                height: 275.63px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 516px) {
  .landing {
    padding-bottom: 200px;
  }
}

.home {
  background-color: #ffffff;

  .entry {
    text-align: center;
    max-width: 860px;
    margin: 0 auto;
    padding: 30px 5px;

    .header {
      color: #13a7e7;
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 10px;

      .bold {
        font-weight: 700;
      }
    }

    .caption {
      font-size: 18px;
      line-height: 20px;
      margin-bottom: 10px;
      &.bold {
        font-weight: 700;
      }
    }

    .p {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 10px;
      padding: 5px;

      .bold {
        font-weight: 600;
      }

      .link {
        color: #13a7e7;
        text-decoration: none;
      }
      .link:hover {
        text-decoration: underline;
      }
    }

    @media only screen and (min-width: 800px) {
      .header,
      .caption,
      .p {
        margin-bottom: 12px;
      }
      .header {
        font-size: 22px;
        line-height: 32px;
      }
      .caption {
        font-size: 21px;
        line-height: 31px;
      }
      .p {
        font-size: 15px;
        line-height: 20px;
      }
    }

    @media only screen and (min-width: 1024px) {
      .header,
      .caption,
      .p {
        margin-bottom: 0;
      }
      .header {
        font-size: 26px;
        line-height: 36px;
      }
      .caption {
        font-size: 24px;
        line-height: 34px;
      }
      .p {
        font-size: 16px;
        line-height: 25px;
      }
    }

    .readMoreButton {
      text-decoration: none;
      color: #13a7e7;
      border: 2px solid #13a7e7;
      outline: none;
      background-color: #ffffff;
      border-radius: 30px;
      transition: all 0.3s ease 0s;
      padding: 15px 25px;
      cursor: pointer;
      font-size: 16px;
      line-height: 16px;
      margin: 15px 0;
    }

    .readMoreButton:hover {
      background-color: #a0e7ff;
    }

    .divider {
      height: 1px;
      width: 100%;
      background: #dddddd;
      margin: 35px 0 50px;
    }

    .verse {
      position: relative;
      left: -5px;
    }

    .buttons {

      .caption {
        font-size: 22px;
        line-height: 24px;
        margin-bottom: 12px;
      }

      .individual {
        text-decoration: none;
        color: rgba(255, 255, 255, .87);
        border: 2px solid #13a7e7;
        outline: none;
        background-color: #13a7e7;
        border-radius: 30px;
        transition: all 0.3s ease 0s;
        padding: 15px 25px;
        cursor: pointer;
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 10px;
      }
      .individual:hover {
        background-color: #14b8ff;
      }

      .group {
        text-decoration: none;
        color: #13a7e7;
        border: 2px solid #13a7e7;
        outline: none;
        background-color: #ffffff;
        border-radius: 30px;
        transition: all 0.3s ease 0s;
        padding: 15px 25px;
        cursor: pointer;
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 10px;
      }
      .group:hover {
        background-color: #a0e7ff;
      }

      .individual,
      .group {
        width: 280px;
      }

      .link {
        outline: none;
        background-color: #ffffff;
        border: none;
        color: #13a7e7;
        text-decoration: none;
        font-size: 20px;
        margin: 20px 0;
      }
      .link:hover {
        text-decoration: underline;
      }

    }

  }

  .stats {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    background-color: #ffffff;
    padding: 15px 0;
  }

  .gallery {
    width: 100%;
  }

  .row {
    border-top: 1px solid #dddddd;
    background-color: #ffffff;
    padding: 15px 0;

    .container {
      width: 90%;
      margin: 0 auto;
      text-align: center;

      .data {
        display: inline-block;
        margin: 0 10px;
        vertical-align: middle;

        .label {
          font-size: 16px;
          margin: 10px 0 20px 0;
        }

        .ministry,
        .yad,
        .klein,
        .naymark {
          display: inline-block;
          vertical-align: top;
          color: #13a7e7;
          font-weight: 700;
          text-align: center;
        }

        .ministry {
          width: 150px;
          padding: 20px 5px;
        }

        .yad {
          width: 120px;
          padding: 10px 5px;
        }

        .klein {
          width: 125px;
          padding: 10px 5px;
          font-size: 20px;
          line-height: 24px;
        }

        .naymark {
          width: 209px;
          padding: 10px 5px;
          font-size: 20px;
          line-height: 24px;
        }
      }
    }
  }
}

.dialog {
  padding: 0 0 2% 2%;

  .close {
    text-align: right;
  }

  .container {
    padding: 0 2% 0 0;

    .video {
      width: 100%;
      height: 100%;
    }

    .tutorial {
      text-align: center;
      color: #13a7e7;
      font-weight: 700;
      font-size: 1.2rem;
      line-height: 1.2;
      margin: 0 0 10px;
    }

    .title {
      color: rgba(0,0,0,.87);
      text-align: center;
      font-size: 20px;
    }

    .buttons {
      text-align: center;
      margin: 10px 0 25px 0;

      .adults,
      .kids {
        display: inline-block;
        text-decoration: none;
        border-radius: 5px;
        border: 2px solid transparent;
        cursor: pointer;
        margin: 0 5px;
      }

      .adults:hover,
      .kids:hover {
        border: 2px solid #ebebeb;
      }

      .adults {

        .label {
          color: #13a7e7;
          line-height: 50px;
        }
      }

      .kids {

        .label {
          color: #959595;
          line-height: 50px;
        }
      }
    }
  }

  .selector {
    text-align: center;

    .field {
      text-align: left;
    }
  }
}